<?xml version="1.0"?>


<configuration>
  <appSettings/>
  <connectionStrings>

    <add name="ConnectionStringXS" connectionString="Provider=SQLOLEDB;Data Source=.;Initial Catalog=ncshop;Integrated Security=SSPI"/>
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.0" />
    <!--<authentication mode="Windows"/>
  <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>--><!----></system.web>

</configuration>