body
{
   border: 0;
    margin: 0;
    background-image: url('../images/bg.gif'); background-repeat: repeat;
 
}
* {margin: 0;padding: 0;border: 0; }
#big
{
    width:1002px;
    margin:0 auto; 
    border:2px black solid;
    
}
#pic1
{
    background-image: url('../images/bg33.gif');
    background-repeat: no-repeat;
    width: 207px;
    height: 43px;
    margin-top: 10px;
    margin-left: 20px;
}
#d2 li a{ text-decoration:none; color:#000000; font-size:24px;  font-family:"宋体"; margin-left:17px;}
#d2 li
{
    list-style-image: url('../images/bg2.gif');
    margin-top: 20px;
}
#d2{ margin-left:60px; margin-top:24px;}
#l
{
    width: 1002px;
    height: 143px;
    background-image: url('../images/bg1.gif');
    background-repeat: no-repeat;
}
#text5{  width:700px; margin-left:27px;  margin-top:12px; font-size:14px; font-family:"宋体"; line-height:25px;}
#h{ color:#5656FF; margin-left:25px; margin-top:41px;  font-family:"宋体";}
#mid
{ 
    width:1002px;
 }
h2{ font-family:"宋体"; color:#FFFFFF; margin-left:60px; margin-top:-35px;}
 

#logo
{
    width: 1002px;
    background-image: url('../images/bg4.gif');
    height: 27px;
}
#d1 li
{
  
    float: left;
    display: block;
    border-left-style: dashed;
    border-left-width: 2px;
    border-left-color: #FFFFFF;
    padding-left: 20px;
    margin-left: 20px;
}
#d1 li a
{
    text-decoration: none;
    padding-left: 20px;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    text-decoration: blink;
    font-size: 24px;
    color: #FFFFFF;
    list-style-type: none;
  
  
}
#midd
{
    background-image: url('../images/bg-34.gif');
}
#l1
{
    width:1002px;
    height:140px;
}
.footer{ clear:none; }
#right
{
    width: 666px;
    height: 408px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    background-image: url('../images/bg-34.gif');
    background-repeat: no-repeat;
}

#d4 li a:link{ color:#000000;}
#d4 li a:visited{ color: #999999;}
#d4 li a:hover{ color:#FFFFFF;}
#d4 li a{ text-decoration:none; color:#000000; font-size:24px;  font-family:"宋体"; margin-left:17px;}
#d4 li
{
    list-style-image: url('../images/bg2.gif');
    line-height: 25px;
}
#d4{ margin-left:60px; margin-top:24px;}

a
{
    text-decoration: none;
    color: #0000FF;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a:link
{
    color: #0000FF;
}
a:visited
{
    color: #808080;
}
a:hover
{
    color: #FFFFFF;
}
a:active
{
    color: #FF0000;
}
#left
{
    float: left;
    width: 250px;
    height: 246px;
    background-image: url('../images/bg34-.gif');
    margin-left: 20px;
    margin-top: 20px;
    background-repeat: no-repeat;
}

#c
{
    clear: left;
}   
#pic4
{
    background-image: url('../images/bg5.gif');
    width: 1002px;
    height: 2px;
    background-repeat: no-repeat;
    margin-top: 10px;
}
#text2
{
    margin-left: 45px;
    width: 926px;
    font-size: 14px;
    margin-top: 0px;
    font-family: 黑体;
  
}


.img
{
    border: none;
}
a img,a{outline:0; border:0}
#l1{font-family: Helvetica, Tahoma, Arial, sans-serif; font-size:14px; line-height:24px; background:#fff;margin:0; padding:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline}
a{text-decoration:none; border:0;}
a:hover{text-decoration:none;}
/* 百叶窗banner */
#slider-wrap{width:1002px; height:140px;}/*可以修改宽高*/
#slider{position: relative; width:1002px; height:140px; background:#FFF;} /*可以修改宽高*/
#slider img{position:absolute; top:0; left:0; display:none; width:1002px; height:140px;}/*可以修改宽高*/
.nivoSlider{position:relative;overflow: hidden;}
.nivoSlider img{position:absolute; top:0px; left:0px}
.nivoSlider a.nivo-imageLink{position:absolute; top:0px;display:block;left:0px;width:1002px;height:140px;border:0;padding:0;margin:0;z-index:6;}/*可以修改宽高*/
.nivo-slice {display:block;position:absolute;z-index:5;height:100%;}
.nivo-box {display:block;position:absolute;z-index:5;}
.nivo-caption{position:absolute; left:0; bottom:0; background:#9696F9;width:1002px; z-index:50; height: 140px; }/*可以修改宽高*/
.nivo-caption p{width:1002px;height: 140px; text-indent: -9999px}/*可以修改宽高*/
.nivo-controlNav{position:absolute; left:2%; bottom:10px; z-index: 100;}/*可以修改左右上下间距*/
.nivo-controlNav a{position:relative; z-index:99; cursor:pointer;background:#074d91}
.nivo-controlNav a.active{background:#ff6400;font-weight:bold}
.nivo-controlNav a{display:block; color: #fff; width:30px; height:20px; line-height: 20px; text-align: center; margin-right:3px; float:left; overflow: hidden;}/*可以修改宽高*/
.nivo-directionNav a {position:absolute;top:45%;z-index:9;cursor:pointer;}   /*左右切换按钮，不能删除，如果不需要可以设背景，删除会引起图片错位*/
.nivo-directionNav a {display:block;width:30px;height:30px;text-indent:-9999px;border:0;}
a.nivo-nextNav {right:15px;}
a.nivo-prevNav {left:15px;}
